
body, table, div, p, dl
{
    font: 400 14px/22px Roboto,sans-serif;
}

body
{
    background-color: white;
    color: black;
    margin: 0;
}

em
{
    font-style: normal;
}

h1
{
    font-size: 150%;
}

.title
{
    font: 400 14px/28px Roboto,sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin: 10px 2px;
}
 
#melissa
{
    font: 300% Tahoma, Arial,sans-serif;
    margin: 0px;
    padding: 2px 0px;
}

#titlearea
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #05a000;
}

a
{
    color: #3D578C;
    font-weight: normal;
    text-decoration: none;
}

.contents a:visited
{
    color: #4665A2;
}

a:hover
{
    text-decoration: underline;
}

a.qindex
{
    font-weight: bold;
}

a.qindexHL
{
    font-weight: bold;
    background-color: #9CAFD4;
    color: #ffffff;
    border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
    color: #ffffff;
}

a.el
{
    font-weight: bold;
}

a.elRef
{
}

a.code, a.code:visited, a.line, a.line:visited
{
    color: #4665A2; 
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited
{
    color: #4665A2; 
}

button
{
    border: none;
    background-color: rgba(0,0,0,0);
    color:#364D7C;
}

button:hover
{
    border: none;
    background-color: rgba(0,0,0,0);
    color:#6884BD;
}


div.qindex, div.navpath
{
    width: 100%;
    line-height: 140%;
}
.navpath ul
{
    font-size: 11px;
    background-image:url('src/tab_b.png');
    background-repeat:repeat-x;
    background-position: 0 -5px;
    height:30px;
    line-height:30px;
    color:#8AA0CC;
    border-top:solid 1px #05a000;
/*     border-bottom:solid 1px #05a000; */
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li
{
    list-style-type:none;
    float:left;
    padding-left:10px;
    padding-right:15px;
    background-image:url('src/bc_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color:#364D7C;
}

.navpath li.navelem a
{
    height:32px;
    display:block;
    text-decoration: none;
    outline: none;
    color: #283A5D;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;        
}

.navpath li.navelem a:hover
{
    color:#6884BD;
}

.navpath li.footer
{
    list-style-type:none;
    float:right;
    padding-left:10px;
    padding-right:15px;
    background-image:none;
    background-repeat:no-repeat;
    background-position:right;
    color:#364D7C;
    font-size: 8pt;
}

.navpath li.navelem_current a
{
    height:35px;
    display:block;
    text-decoration: none;
    outline: none;
    color:#03396c;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    font-style: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;        
}

.navpath li.navelem_current a:hover
{
    color:#6884BD;
}

span.legend
{
    font-size: 70%;
    text-align: center;
}

.tabs, .tabs2, .tabs3
{
    background-image: url('src/tab_b.png');
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tabs2
{
    font-size: 10px;
}
.tabs3
{
    font-size: 9px;
}

.tablist
{
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li
{
    float: left;
    display: table-cell;
    background-image: url('src/tab_b.png');
    line-height: 36px;
    list-style: none;
}

.tablist a
{
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('src/tab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a
{
    padding: 0 10px;
}

.tablist a:hover
{
    background-image: url('src/tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li.current a
{
    background-image: url('src/tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

div.header
{
    background-image:url('src/nav_h.png');
    background-repeat:repeat-x;
    background-color: #FCFCFC;
    margin:  0px;
    border-bottom: 1px solid #e5e5e5;
    border-top: solid 1px #05a000;
}

div.text
{
    padding: 5px 10px 5px 10px;
}

div.headertitle
{
    padding: 5px 10px 5px 10px;
}

pre.prettyprint
{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

code.prettyprint
{
    background-color: #EEEEEE;
}

code.code
{
    color: #800;
    background-color: #EEEEEE;
}
