html
{
    font: 400 14px/22px Roboto,sans-serif;
    height: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body
{
    width: 50%;
/*     height: 100%; */
    min-width: 800px;
/*     background-color: rgba(10, 250, 100, 0.05); */
    color: black;
    margin: auto;
/*     padding: 5px 10px 5px 10px; */
/*     margin-left: 220px; */
/*     border: solid 1px #05a000; */
    background-color: none;
    display: flex;
    flex-direction: column;
}

em
{
    font-style: normal;
}

h1
{
    font-size: 200%;
}

.title
{
    font: 400 14px/28px Roboto,sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin: 10px 2px;
}

#titlearea
{
    background-image:url('src/nav_h.png');
    background-repeat:repeat-x;
    padding: 0px;
/*     margin: 0px; */
    margin: auto;
    width: 50%;
    min-width: 800px;
    border-bottom: 1px solid #05a000;
    border-left: 1px solid #05a000;
    border-right: 1px solid #05a000;
    background-color: white;
    position: fixed;
    display: none;
}

a
{
    color: #3D578C;
    font-weight: normal;
    text-decoration: none;
}

.contents a:visited
{
    color: #4665A2;
}

a:hover
{
    text-decoration: underline;
}

a.qindex
{
    font-weight: bold;
}

a.qindexHL
{
    font-weight: bold;
    background-color: #9CAFD4;
    color: #ffffff;
    border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
    color: #ffffff;
}

a.el
{
    font-weight: bold;
}

a.elRef
{
}

a.code, a.code:visited, a.line, a.line:visited
{
    color: #4665A2; 
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited
{
    color: #4665A2; 
}

button
{
    border: none;
    background-color: rgba(0,0,0,0);
    color:#364D7C;
}

button:hover
{
    border: none;
    background-color: rgba(0,0,0,0);
    color:#6884BD;
}

span.legend
{
    font-size: 70%;
    text-align: center;
}

.tabs
{
/*     background-image: url('src/tab_b.png'); */
/*     float:left; */
    background-color: white;
    width: 180px;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    position: fixed;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 0px 0px 6px grey;
}

.tabs a:hover
{
    text-decoration: none;
}

#melissa
{
    font: 250% Tahoma, Arial,sans-serif;
     padding: 20px;
/*     margin-left: 240px; */
    text-align: center;
    background-image:url('src/nav_h.png');
    background-repeat:repeat-x;
}

a #melissa
{
    color: black;
    text-decoration: none;
}

.tablist
{
    margin: 0;
    padding: 0;
/*     display: table; */
    background-color: rgba(0, 100, 10, 0.2);
}

.tablist li
{
/*     float: left; */
/*     display: table-cell; */
/*     background-image: url('src/tab_b.png'); */
    line-height: 36px;
    list-style: none;
    background-color: white;
}

.tablist a
{
    display: block;
    padding: 0 20px;
    font-weight: bold;
/*     background-image:url('src/tab_s.png'); */
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
    border-top: 1px solid rgba(0, 100, 10, 0.2);
}

.tablist a:hover
{
    background-image: url('src/tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li.current a
{
    background-image: url('src/tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    border-top: 1px solid black;
}

div.header
{
/*     background-image:url('src/nav_h.png'); */
/*     background-repeat:repeat-x; */
    background-color: #FCFCFC;
    margin:  0px;
/*    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;*/
/*     border-top: solid 1px #05a000; */
}

.text
{
    padding: 5px 10px 5px 10px;
    margin: 10px;
/*     display: block; */
/*     width: 1150px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     margin-bottom: 10px; */
    text-align: left;
/*     height: 1200px; */
/*     min-height: 100%; */
/*     background-color: white; */
/*     display: flex; */
/*     flex-direction: column; */
}

div.headertitle
{
    padding: 5px 10px 5px 10px;
}

pre.prettyprint
{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    width: 90%;
}

code.prettyprint
{
    background-color: #EEEEEE;
}

code.code
{
    color: #800;
    background-color: #EEEEEE;
}

div.fieldsets
{
    float: right;
    width: 100%;
    padding-bottom: 10px;
}

fieldset
{
    width: 200px;
}

fieldset.par
{
    float: right;
}

fieldset.lang
{
    float: left;
}

#contener1
{
/*     display: flex; */
/*     flex-direction: column; */
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 220px;
    box-shadow: 0px 0px 6px grey;
    background-image:url('src/nav_h.png');
    background-repeat:repeat-x;
}

#dox_text
{
}

iframe
{
    display: block;
/*     position: relative; */
    height: 800px;
    width: 100%;
}

hr
{
    color: rgba(0, 100, 10, 0.2);
}

figure
{
    text-align: center;
    padding: 10px;
}

figure figcaption
{
    text-decoration: underline;
}

figure img
{
    padding: 10px;
}
